<?xml version="1.0" encoding="UTF-8"?>
<plugin
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-lsapplicationqueriesschemes"
    version="0.2.0">

    <name>LSApplicationQueriesSchemes</name>
    <description>Dynamically specify the URL schemes the app is able to test using the canOpenURL: method of the UIApplication class</description>
    <author>Adriano Di Giovanni</author>
    <keywords>LSApplicationQueriesSchemes,launch,services,keys,canOpenURL,UIApplication</keywords>
    <license>MIT</license>

    <platform name="ios">
        <hook type="after_plugin_install" src="scripts/ios/applyPlugin.js" />
        <hook type="before_prepare" src="scripts/ios/applyPlugin.js" />
    </platform>
</plugin>
